{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Hi, I am Santhisenan.
</h1>
<p>Click <a href="{{ get_url(path='@/blog/_index.md') }}">here</a> to see my posts.</p>
<p><a href="https://github.com/santhisenan" target="_blank" rel="noopener noreferrer">GitHub</a></p>
<p><a href="https://www.linkedin.com/in/santhisenan/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
<p><a href="mailto:santhisenanajith@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></p>
{% endblock content %}