body, html {
  height: 100%;
  display: grid;
  background-color:#121212;
}

#outer-container {
  margin: auto;
}

#name {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: xxx-large;
  font-weight: 400;
  letter-spacing: 1px;
}

ul#list {
  list-style-type: none;
}

ul#list li.list-item {
  display: inline;
}

ul#list li.list-item a {
  font-family: monospace;
  color: white;
  opacity: 0.87;
  font-size: x-large;
  text-decoration: underline;
  letter-spacing: 1px;
  /* text-underline-position: under; */
}

.link-container {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 1em;
}

@media screen and (max-width: 1020px) {
  #name {
    font-size: 8em;
  }
  .link-container {
    display: block;
  }

  ul#list li.list-item a {
    font-size: 6em;
  }
}