body, html {
  height: 100%;
  display: grid;
  background-color:#121212;
}

#outer-container {
  margin: auto;
}

#name {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: xxx-large;
  font-weight: 400;
  letter-spacing: 1px;
}

ul#list {
  list-style-type: none;
}

ul#list li.list-item {
  display: inline;
}

ul#list li.list-item a {
  font-family: monospace;
  color: #BB86FC;
  opacity: 0.87;
  font-size: x-large;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: #BB86FC 1px solid;
}

.link-container {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 1em;
}

@media screen and (max-width: 1024px) {
  #name {
    font-size: 8em;
  }
  .link-container {
    display: block;
    padding-left: 10vw;
  }

  ul#list li.list-item a {
    font-size: 4em;
    border-bottom: #BB86FC 3px solid;
    padding-top: 0.3em;
  }
}